<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Topic</h1>
        <table border="3px">
            <tr>
                <th>pk/id</th>
                <th>name</th>
                <th>author</th>
                <th>date</th>

            </tr>
            {% for AO in QLAO %}
            <tr>
                <td>{{AO.pk}}</td>
                    <td>{{AO.name}}</td>
                    <td>{{AO.author}}</td>
                    <td>{{AO.date}}</td>
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>